# Redirect all requests to the php file
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^(.+?)\.html$ /index.php [L,NC]
</IfModule>
# Deny Access to .sqlite files
<Files  ~ "\.sqlite$">
  Order allow,deny
  Deny from all
</Files>